*.d
*.o
/libtrading-config
/libtrading.a
/libtrading.dylib
/libtrading.so
/tags
/test-trade
/tools/cert/micex/forts
/tools/fast/fast_client
/tools/fast/fast_server
/tools/fast/fast_orderbook
/tools/fast/fast_parser
/tools/fix/fix_client
/tools/fix/fix_server
/tools/fix/fix_perf
/tools/sim/market
/tools/sim/trader
/tools/tape/tape
/tools/test-fix-client
/tools/test-fix-server
/tools/test/protocol/boe/*.bin
/tools/test/test-runner.c
/tools/test/test-suite.h
/LIBTRADING-VERSION-FILE
/include/libtrading/probes.h

# Generated FIX dialects:
/include/libtrading/proto/iex_fix.h
/include/libtrading/proto/kcg_hotspot_fix.h
/include/libtrading/proto/mbt_fix.h
/include/libtrading/proto/micex_fix.h
/include/libtrading/proto/cme_globex_fix.h
/lib/proto/iex_fix.c
/lib/proto/kcg_hotspot_fix.c
/lib/proto/mbt_fix.c
/lib/proto/micex_fix.c
/lib/proto/cme_globex_fix.c
