*.d
*.o
/libtrading-config
/libtrading.a
/tags
/test-trade
/tools/fast/fast_client
/tools/fast/fast_server
/tools/fast/fast_orderbook
/tools/fast/fast_parser
/tools/fix/fix_client
/tools/fix/fix_server
/tools/tape/tape
/tools/test-fix-client
/tools/test-fix-server
/tools/test/protocol/boe/*.bin
/tools/test/test-runner.c
/tools/test/test-suite.h
/LIBTRADING-VERSION-FILE
/include/libtrading/probes.h

# Generated FIX dialects:
/include/libtrading/proto/iex_fix.h
/include/libtrading/proto/mbt_fix.h
/lib/proto/iex_fix.c
/lib/proto/mbt_fix.c
