*.d
*.o
/libtrading.a
/tags
/test-trade
/tools/fast/fast_client
/tools/fast/fast_server
/tools/fast/fast_orderbook
/tools/fast/fast_parser
/tools/fix/fix_client
/tools/fix/fix_server
/tools/test-fix-client
/tools/test-fix-server
/tools/test-nasdaq-itch41
/tools/test/protocol/boe/*.bin
/tools/test/test-runner.c
/tools/test/test-suite.h
